/* Chat stylesheet */

body {
    background-image: url("/static/chat/images/pattern01.png");
    background-blend-mode: difference;
    background-size: 300px;
    background-color: rgb(71 63 36);
}

.container,
#chat-room,
#common-card {
    height: calc(100vh - 50px);
}

.card {
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.message {
    clear: both;
    position: relative;
    width: fit-content;
    max-width: 90%;
}

.message-left {
    float: left;
    text-align: start;
}

.message-right {
    float: right;
    text-align: end;
}