{% extends "chats/base.html" %}
{% load static %}

{% block style %}
	<link rel="stylesheet" href="{% static 'chats/main.css' %}">
	<link rel="stylesheet" href="{% static 'chats/box.css' %}">
{% endblock %}

{% block body %}
	{{ user.get_full_name }} <a href="{% url 'chats:index' %}">Home</a>
	<p>Chat with <b>{{ chat_with.get_full_name }}</b></p>
	
	<div id="msgs" data-id="{{ user.id }}">
	</div>

	<div>
		<input type="text" name="msg" id="msg" value="" autofocus>
		<input type="button" id="send" value="Send">
	</div>
{% endblock %}

{% block scripts %}
	<script src="{% static 'chats/reconnecting-websocket.min.js' %}"></script>
	<script src="{% static 'chats/box.js' %}"></script>
{% endblock %}